script(src="https://code.jquery.com/jquery-3.3.1.min.js")


.fixed-header
	nav
		a(id="home-icon", href="/") MB
		a(class="nav-links", href="/contact") Contact
		a(class="nav-links", href="/experience") Experience
		a(class="nav-links", href="/about") About

