script(src="/scripts/tooltip.js") //handle tooltip for mobile

#home-container
	.tooltip(id="hi", onclick="tooltip(this)")
		span.tooltiptext "Hi. My name is Michael and I created <br> <a href="/about">this site</a> to share what I've built. Thanks for checking it out!" 


