script(src="/scripts/becauseButtons.js") //handle button clicks
script(src="/scripts/wordcloud.js") //handle wordcloud mouseover

meta(name="viewport",content="width=device-wdith")

.opener-container
	h1(id="opener") I Love<br>Building

#about-content
	#because-container
		h2(id="becuase", class="main-sentence") ...because I can: 
		button(id="b_clutter", class="because-buttons") reduce<br>clutter. 
		button(id="b_improvement", class="because-buttons") improve<br>myself.
		button(id="b_money", class="because-buttons") make money<br>while I sleep.
	p(id="because-text1", class="because-text")
	p(id="because-text2", class="because-text")

	h2(class="main-sentence") But, what values drives me to build?
	#values-container
		.value-container
			h2(class="numeral") I
			h3(class="values") Personal Growth
		.value-container
			h2(class="numeral") II
			h3(class="values") Ambition
		.value-container
			h2(class="numeral") III
			h3(class="values") Pleasure
		.value-container
			h2(class="numeral") IV
			h3(class="values") Grit
		.value-container
			h2(class="numeral") V
			h3(class="values") Impact
		.value-container
			h2(class="numeral") VI
			h3(class="values") Self-Exploration

	h2(class="main-sentence") Usting these values, I try to incorporate...
	#wordcloud-container
		script.
			$('#wordcloud-container').load('/wordcloud/wordcloud.svg');

	h2(class="main-sentence") Here's what I've done so far...
	#button-wrapper
		form(action="/experience.html")
			input(id="experience-button", type="submit", value="Experience")




