//script(src="/scripts/contactForm.js")

#contact-content
	//contact form
	form(id="contactForm", action="https://hooks.zapier.com/hooks/catch/2689457/xiooqx/", method="POST")
		textarea(name="message", id="message", placeholder="...", autocomplete="false")
		br
		input(name="contactMethod", id="contactMethod", placeholder="email", autocomplete="false")
		button(id="sendButton", type="Submit") Send

		//Social media links
		#social-container1
			#social-container2
				a(href="https://github.com/mberk06")
					img(class="icon", id="github", src="/assets/img/github.png")
				a(href="https://www.linkedin.com/in/michael-berk-48783a146/")
					img(class="icon", id="linkedin", src="/assets/img/linkedin.png")
				a(href="https://stackoverflow.com/users/9040673/michael-berk")
					img(class="icon", id="stackoverflow", src="/assets/img/stackoverflow.png")

	script.
		$("#sendButton").click(function() {
			document.getElementById('contactMethod').value = '';
			document.getElementById('message').value = '';
		});


	