script(src="/scripts/contactForm.js") //handle contact posts
script(src="/scripts/tooltip.js") //handle tooltip for mobile
script(src="https://www.google.com/recaptcha/api.js?render=6LeVQMkUAAAAAAaa_raRB3Xi8Beei7YEotdOo7FP") //recaptcha google
scripts(src="/scripts/tecaptcha.js")

div(class='g-recaptcha', data-sitekey='6LeVQMkUAAAAAAaa_raRB3Xi8Beei7YEotdOo7FP', id="recaptcha", name="recaptcha")


div(id="contact-content")
	//contact form
	form(id="contactForm", onsubmit="return false")
		.tooltip_small(id="mail", onclick="tooltip(this)")
			span.tooltiptext "Thanks for exploring my site. Hopefully you learned a little about me. Got any questions or ideas?"
		textarea(name="message", id="message", placeholder="...", autocomplete="off")
		br
		input(name="contactMethod", id="contactMethod", placeholder="email", autocomplete="off")
		button(id="sendButton", type="Submit") Send

//sent button
#sent-container
	h3(id="sentText") Sent!

	