//script(src="/scripts/contactForm.js")

#contact-content
	//contact form
	form(id="contactForm", action="https://hooks.zapier.com/hooks/catch/2689457/xiooqx/", method="POST")
		textarea(name="message", id="message", placeholder="...", autocomplete="false")
		br
		input(name="contactMethod", id="contactMethod", placeholder="email", autocomplete="false")
		button(id="sendButton", type="Submit") Send

	script.
		$("#sendButton").click(function() {
			document.getElementById('contactMethod').value = '';
			document.getElementById('message').value = '';
		});


	