h1 This is my contact page

	form(action="https://hooks.zapier.com/hooks/catch/2689457/xiooqx/", method="post")
		input(name="message", id="message", placeholder="...")
		input(name="contactMethod", id="contactMethod", placeholder="phone or email")
		button Send


