script(src="/scripts/experienceBubbles.js")

#background-gradient
	div(id="experience-content")
		#depth-container
			h1 hi there

		#bubbles-container
			h1 hi there
			h1 hi there
			h1 hi there
			h1 hi there
			h1 hi there
			h1 hi there
			h1 hi there
			h1 hi there
			
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 
			.bubble-container
				div(class="bubble")
					div(class="desc-text")
						span(class="desc-start")
							h1 hello 
						span(class="desc-hover")
							a
								h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 



