script(src="/scripts/experienceBubbles.js")

div(id="experience-content")
	div(class="bubble")
		div(class="desc-text")
			span(class="desc-start")
				h1 hello 
			span(class="desc-hover")
				a
					h3 This is some text it's insane like hokmasd kofjlkasd jflkjas lkdjflaksjf skldjflsajflks jsdkldfj ksjfkjs dkljfsdlkjsdflkj 

