script(src="/scripts/experienceBubbles.js")

#background-gradient
	#four.bubble-button Blow Up

	div(id="experience-content")
		#bubbles-container
			ul.timeline
				li
					.timeline-badge
						div(id="d1", class="date")
					.timeline-panel
						.timeline-title
							h2(id="four", class="bubble-button") Timeline Thing
				li.timeline-inverted
					.timeline-badge
						div(id="d2", class="date")
					.timeline-panel
						.timeline-title
							h2(id="four", class="bubble-button") Timeline Event
				li
					.timeline-badge
						div(id="d3", class="date")
					.timeline-panel
						.timeline-title
							h2 Timeline Event
				li
					.timeline-badge
						div(id="d4", class="date")
					.timeline-panel
						.timeline-title
							h2 Timeline Event
				li
					.timeline-badge
						div(id="d5", class="date")
					.timeline-panel
						.timeline-title
							h2 Timeline Event
				

				li.clearfix.no-float

#modal-container(class="bubble-button")
	.modal-background
		.modal
			button(id="x") X

			h2 Title Area
			h4 Date

			p
			| Hear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsajHear me roar. and here .is a ton more texst to tksljasfdlkjsdflkjlkfdsaj


