script(src="https://d3js.org/d3.v5.min.js") //import d3

.opener-container
	h1(id="opener") Don't Hold<br>Your Breath

#experience-content
	h1 texst

	div(id="bubble-container")
		//script(src="/scripts/experienceBubbles.js")
		div(style="height:300px; width: 300px; border-radius: 50%; background-color: red; text-align: center; overflow: break-word;")
			h3(style="vertical-align: center;") title with a lot of texg liek wow this is just too much text i cant even 
		a(id="someid")
			img(src="/assets/img/bubbleTest9.png", style="width: 300px; height: auto;")


	



