script(src="/scripts/tooltip.js") //handle tooltip for mobile


#experience-background
	br
	br
	br
	br
	#contact-button-wrapper
		form(action="/contact")
			input(id="contact-button", type="submit", value="contact")
	.container
		.timeline-block.timeline-block-left
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Data Science + Product Management Intern
				span 2019
				p My role at Tubi was centered around improving the product through data-driven insights. On the product management side, I designed A/B tests and supervised the implementation of new features. On the data science side, I created KPI dashboards and developed a Hidden Markov Model to improve user engagement classification. For my final project, I conducted an analysis on conversion to identify "black hole" features.&lrm;
				p(class="skill") Skills: SQL/Python, Prodcut Management, Product Analysis
		.timeline-block.timeline-block-right
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 This Website
				span 2019
				p I developed this website coding in Jade, Sass, and JavaScript, but also used Jekyll with Gulp to streamline the process. My vision was centered around exploration, while still maintaining an intuitive and effective user experience. On every page you will find “easter eggs” that each demonstrate an aspect of my personality.
				p(class="skill") Skills: JavaScript, Jade/Sass, UI Design
		.timeline-block.timeline-block-left
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Binary Classification Independent Study
				span 2019
				p The independent study was centered around developing a forecast as to whether a driver will pass an on-road-exam based on driving simulation data. Some of the algorithms studied included logistic regression, random forest, svm, and neural nets. I also covered foundational modeling concepts such as calibration, component analysis, and ROC curves. &lrm;
				p(class="skill") Skills: R/Python, Binary Forecasting, Machine Learning


		.timeline-block.timeline-block-right
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Technical Consultant at the Schork Group
				span 2019
				p My main role at the Schork Group was to develop a newsletter automation scripts which reduced the editor’s daily workload by four hours. I also helped develop a pitch deck with client profiles to aid the CEO in acquiring partnerships with two large companies. My work with the Schork Group has continued and I am currently working with a Penn professor to develop statistical forecasts for commodity trading.  
				p(class="skill") Skills: R/Python, Automation, Business Development, Machine Learning

		.timeline-block.timeline-block-left
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Coral Bleaching Project with Reef Check
				span 2018
				p I performed a statistical analysis with Reef Check, a non-profit that orchestrates the collection of coral reef data, to assess reef health after coral bleaching. In short, the data showed that approximately 44% of reef completely recovered after a bleaching event. I am planning to dive deeper into analyzing reef health during my upcoming senior thesis. &lrm;
				p(class="skill") Skills: R, Data Cleaning, Regression

				.tooltip_left(id="scuba", onclick="tooltip(this)")
					span.tooltiptext(dir="ltr") "If you've never been diving, please go."&lrm;
				br
				br

		.timeline-block.timeline-block-right
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 CTO + Co-Founder of Fitalyst
				span 2018 - 2017
				p Fitalyst, the fitness catalyst, was a motivational chatbot that helped users life a healthy lifestyle. My role as CTO was to prototype chatbots using a click-and-point service called chatfuel, then build iOS applications. I also ran several test pilots, conducted market analysis, and wrote the business plan. 
				p(class="skill") Skills: Swift, UI Design, Business Development

		.timeline-block.timeline-block-left
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 iOS App Projects
				span 2014 - 2018
				p My first iOS application, developed in Objective-C, was a game that quizzed people on topics for my English class. My second iOS app, was a scheduling calendar created for my high school. Throughout this time, I also developed several flappy-bird-inspired games. Finally, after taking an iOS development class at Penn, I created the app behind Fitalyst (a startup I co-founded).&lrm; 
				p(class="skill") Skills: Swfit, Objective-C, UI Design

		.timeline-block.timeline-block-right
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 TA at Wharton Moneyball Academy
				span 2017
				p At Wharton Moneyball Academy, I was tasked with educating students about baseball analytics techniques in R. I also served as a residential assistant for which I planned events and generally tended to their needs. 

		.timeline-block.timeline-block-left
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 DraftKings Forecasting Project
				span 2017
				p I developed a two-part algorithm that forecasted NBA DraftKings points (linear combination of the NBA’s main statistics). The first part was a web-scraping script written in python and selenium that fetched daily box scores. The second part, written in R, was a quantile boosting algorithm that forecasted DK points. The algorithm achieved 83% training accuracy. &lrm;
				p(class="skill") Skills: Python/R, Web-scraping, Machine Learning


		.timeline-block.timeline-block-right
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Investment Intern at Logan Circle Partners
				span 2016
				p At Logan Circle Partners, I performed statistical analysis of four major oil companies and found optimal buy/sell points after bond ratings changes. I also analyzed four large oil companies’ high-grade quarterly reports to develop company profiles. Finally, I presented findings in both of these areas to my advisor. 
				p(class="skill") Skills: R, Company Analysis


		.timeline-block.timeline-block-left(id="last")
			.marker
			.timeline-content
				hr(class="exp-hr")
				h3 Shark Intern at The Cape Eleuthera Institue
				span 2015
				p At the Cape Eleuthera Institute, my main role was to assist marine biologists and PhD students in catching and tagging three species of sharks and rays. This involved setting up gear, collecting data measurements of the animals, and organizing the data for later analysis. &lrm;

				span(class="tooltip_shark", id="shark", onclick="tooltip(this)")
					<span class="tooltiptext" dir="ltr"> "My passion for sharks started<a href="/assets/img/sharkworkup.png")> here</a>, at CEI."&lrm; </span>
				br
				br




		
				
