script(src="/scripts/tooltip.js") //handle tooltip for mobile

footer(id="footer")
	#social-container1
		hr
		a(href="/")
			p(id="footer-name") Michael Berk 

		.tooltip_right(id="sushi", onclick="tooltip(this)")
			span.tooltiptext "My second passion is food. My favorite cuisine is sushi (because of childhood priming), but I will eat literally anything."

		#social-container2
			//Social media links
			a(href="https://github.com/mberk06")
				img(class="icon", id="github", src="/assets/img/github.png")
			a(href="https://www.linkedin.com/in/michael-berk-48783a146/")
				img(class="icon", id="linkedin", src="/assets/img/linkedin.png")
			a(href="https://stackoverflow.com/users/9040673/michael-berk")
				img(class="icon", id="stackoverflow", src="/assets/img/stackoverflow.png")
