script(src="https://code.jquery.com/jquery-3.3.1.min.js") 
script(src="/scripts/header.js") //navbar

nav#primary_nav
	a#mobile_nav ☰
	ul
		li
			a(href='/') Home
		li
			a(href='/about') About
		li
			a(href='/experience#last') Experience
		li
			a(href='/contact') Contact