.fixed-header
	.header-container
		nav
			a(id="home-icon", href="/") MB
			a(class="nav-links", href="/contact") Contact
			a(class="nav-links", href="/experience") Experience
			a(class="nav-links", href="/about") About

