doctype
html

    .fixed-header
        .header-container
            nav
                a(id="home-icon", href="/") MB
                a(class="nav-links", href="/pages/about.html") About
                a(class="nav-links", href="/pages/experience.html") Experience
                a(class="nav-links", href="/pages/contact.html") Contact
