doctype
html

    .fixed-header
        .header-container
            nav
                a(id="home-icon", href="/") MB
                a(class="nav-links", href="#") About
                a(class="nav-links", href="#") Experience
                a(class="nav-links", href="#") Contact
