doctype
html

	.fixed-header
		.header-container
			nav
				a(id="home-icon", href="/") MB
				a(class="nav-links", href="/pages/about") About
				a(class="nav-links", href="/pages/experience") Experience
				a(class="nav-links", href="/pages/contact") Contact
