script(src="/scripts/tooltip.js") //handle tooltip for mobile

#home-container
	p test
	.tooltip(id="hi", onclick="tooltip(this)")
		span.tooltiptext "Hi. My name is Michael and I created this site to share what I've built. Thanks for checking it out!"

