div(id="home-container")
	h1(id="home_opener1", class="tooltip") Well go on... 
		span.tooltiptext test

	h1(id="home_opener2") Explore

h2 Bottom Tooltip w/ Top Arrow
.tooltip Hover over me
	span.tooltiptext Tooltip text


img(src="/assets/img/hi.png", id="hi", class="tooltip")
	span.tooltiptext test
	
