footer
	width: 100%
	height: 30px
	position: relative
	bottom: 0
	position: relative
	transform: translate(0, 75px)

#footer-name
	margin: 0
	display: inline-block
	transform: translate(50%, -22px)

#social-container2
	float: right
	display: grid
	display: inline-block
	width: 90%
	transform: translate(0, -44px)
	margin-right: 5%
	margin-left: 0
	text-align: right

//images for social media
.icon
	width: 25px
	height: 25px
	opacity: .5
	margin-left: 4%
	margin-right: 10px

.icon:hover
	opacity: 1.0

