//general
.main-sentence
	display: inline-block
	margin-top: 10vh

#about-content
	margin-left: 15%
	margin-right: 15%

//////////////////////
//css in order on page
//////////////////////
//opener
#opener
	text-align: center
	font-size: 100px

.opener-container
	width: 100%
	height: 90vh
	display: flex
	background-color: grey
	justify-content: center
	align-items: center

//because buttons
.because-text
	margin-left: 7%
	margin-right: 7%
	font-weight: normal
	font-size: 24px
	color: black

#because
	float: right	

.because-buttons
	transform: translate(0, -15px)
	font-size: 24px
	text-transform: none
	height: 55px
	padding: 10px 10px 50px 10px
	text-align: center
	margin-left: 10px

//values
#values-container //all values
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) )
	grid-gap: 5%
	align-items: center

.value-container //single value
	display: grid
	justify-items: center;
	text-align: center
	margin-bottom: -50px

//numerals
.numeral
	font-size: 110px
	line-height: 0px
	font-family: "Arial"
	transform: scale(1, 1)
	transform: translate(0, -10px)

.values
	transform-origin: center
	transform: translate(0, -80px)
	color: black
	font-size: 30px

//wordcloud
#wordcloud-container
	margin-left: 5vw
	position: relative

.wordcloud-word
	cursor: pointer

//Experience
#button-wrapper
	display: flex
	justify-content: center

#experience-button
	font-size: 50px
	height: 60px








