#contact-content
	border-color: black
	border-opacity: 0.5
	outline: none
	margin-bottom: 90vh

#message
	width: 50vw
	height: 50vh
	border: 1px solid #666
	font-size: 16px

	resize: none
	overflow: auto

#contactForm
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	transform-origin: center
	display: block

#contactMethod
	height: 20px
	width: 20vw
	border: 1px solid #666
	position: fixed
	padding-left: 5px
	padding-right: 5px
	font-size: 16px

#sendButton
	height: 25px
	line-height: 25px
	position: relative
	float: right
	text-align: center
	display: inline-block
	vertical-align: middle
	font-size: 14px
	border-color: #666

#sentText
	position: absolute    
	width: 100px
	height: 50px
	top: 50%
	left: 50%
	margin-left: -50px
	margin-top: -25px
	visibility: hidden



///////////////////////////
//Mobile
///////////////////////////
@media (max-width: $max-width)

	#contactMethod
		width: 80%
		margin-left: 8%

	#sendButton
		margin-top: 100px
		margin-left

	#contactMethod, #sendButton
		display: block
		float: none
		clear: both



