#contact-content
	border-color: $darkblue
	border-opacity: 1.0
	outline: none
	margin-bottom: 90vh

#message
	width: 50vw
	height: 50vh
	border: 1px solid $darkblue
	font-size: 16px

	resize: none
	overflow: auto

#contactForm
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	transform-origin: center
	display: block
	border-color: $darkblue

#contactMethod
	height: 20px
	width: 20vw
	border: 1px solid $darkblue
	position: fixed
	padding-left: 5px
	padding-right: 5px
	font-size: 16px

#sendButton
	height: 25px
	line-height: 25px
	position: relative
	float: right
	text-align: center
	display: inline-block
	vertical-align: middle
	font-size: 14px
	border-color: $darkblue

#mail
  width: 75px
  height: 75px
  margin-right: auto
  margin-left: auto
  display: block
  opacity: 1
  background-image: url(/assets/img/mail.png)
  background-size: contain
  z-index: 1000000

#sentText
	position: absolute    
	width: 100px
	height: 50px
	top: 50%
	left: 50%
	margin-left: -50px
	margin-top: -25px
	visibility: hidden

::placeholder
  color: $darkblue
  opacity: 0.5

:-ms-input-placeholder 
  color: $darkblue
  opacity: 0.5

::-ms-input-placeholder
  color: $darkblue
  opacity: 0.5

///////////////////////////
//Mobile
///////////////////////////
@media (max-width: $max-width)
	#contactMethod
		width: 80%
		margin-left: auto
		margin-right: auto
		display: block
		position: relative

	#sendButton
		margin-top: 70px
		margin-left: auto
		margin-right: auto
		display: block
		float: none



