#background-gradient
    background-color: blue
    z-index: -1
    position: fixed
    width: 100%
    height: 100%

#experience-content
    position: fixed
    width: 70%
    height: 100%
    margin-right: 15%
    margin-left: 15%
    overflow: auto

#bubbles-container //all values
    float: right
    width: 50%

    display: grid
    grid-template-columns: 250px
    grid-gap: 5%
    align-items: center
    margin-top: 50px
    margin-bottom: 150px

.bubble-container //single value
    display: grid
    justify-items: center;
    text-align: center

.bubble
    height: 300px
    left: 10px
    position: relative
    width: 300px

    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)
    /* FF3.6+
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)))
    /* Chrome,Safari4+
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)
    /* Chrome10+,Safari5.1+
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)
    /* Opera 12+
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)
    /* IE10+
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)
    /* W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 )

    /* IE6-9 fallback on horizontal gradient
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)

.desc-text
    color: white
    //transform: translate(0, 300%);

.bubble:hover
    width: 300px;
    height: 300px;
    background: white;
    border: 3px solid grey;

    .desc-start
        display: none

    .desc-hover
        display: block

.desc-hover
    display: none


//Timeline
.line
    height: 4px
    width: 100px
    background-color: white
    float: left
    transform: translate(-150%, -90px);

.tick
    height: 2px
    width: 30px
    background-color: white

.date
    color: white
    transform: translate(-100%, -145%);    














