#home-container
	height: 100vh
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	margin-bottom: -85px

#hi
	width: 75px
	height: 75px
	margin-left: auto
	margin-right: auto
	position: block
	opacity: 1
	background-image: url(/assets/img/hi.png)
	background-size: contain